<h1>Events</h1>
<p><%=link_to "Post New Event", new_event_path, :class=>"btn btn-primary"%></p>
<table class="table">
	<tr>
		<td>name</td>	
		<td>content</td>
		<td>poster</td>
		<td>date</td>
		<td></td>
		<td></td>
	</tr>
	
	<% @events.each do |e| %>
		<tr>
			<td><%= link_to e.name, event_path(e) %></td>
			<td><%= e.content %></td>
			<td><%= e.user.name %></td>
			<td><%= e.created_at %></td>
			<% if e.user == current_user %>
				<td><%= link_to "edit", edit_event_path(e), :class=>"btn btn-info"%></td>
				<td><%= link_to "delete", event_path(e), :method=>"delete", :data=>{:confirm=>"Are you sure?"}, :class=>"btn btn-danger"%></td>
			<% end %>

		</tr>
	<% end %>



</table>

	



