<h1><%=@event.name %></h1>
<p>poster: <%= @event.user.name %></p>
<p><%= link_to "back", events_path %>
<table class="table">
	<tr>
		<td>title</td>
		<td><%=@event.name %></td>
	</tr>
	<tr>
		<td>content</td>
		<td><%=@event.content %></td>
	</tr>
</table>



<h2>Comments </h2>
<table class="table">
	<tr>
		<td>content</td>
		<td>poster</td>
		<td></td>
		<td></td>
	</tr>
	<% @event.comments.each do |c|%>
	<tr>
		<td><%=c.content%></td>
		<td><%=c.user.try(:name)%></td>
		<% if c.user == current_user %>
			<td><%= link_to "edit", event_path(:comment_id=>c.id), :class=>"btn btn-primary" %></td>
			<td><%= link_to "Delete", event_path(:comment_id=>c.id), :class=>"btn btn-danger" %></td>

		<% end %>
	</tr>
	<% end %>
</table>

<% if @comment.new_record? %>
	<%= form_for @comment, :url=>event_comments_path(@event)  do |f| %>

	<%= f.label :content, "content"%>
	<%= f.text_area :content %>
	<%= f.submit %>

	<% end %>

<% else %>
	<%= form_for @comment, :url=>event_comment_path(@event,@comment), :method=>"patch" do |f| %>
	<%= f.label :content, "content"%>
	<%= f.text_area :content %>
	<%= f.submit %>
	<% end %>
<% end %>






